<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>总结Vue数据监测</title>
    <script src="../js/vue.js"></script>
    <style>

    </style>
</head>

<body>

    <!-- 
    Vue监测数据的原理:
    1、vue会监视data中所有层次的数据
    2、如何监测对象中的数据？
         通过setter实现数据监视,且要在new Vue时就传入要监测的数据。
          （1）对象中后追加的属性,Vue默认不做响应式处理
          （2）如需给后添加的属性做响应式,请使用如下API：
            Vue.set(target, propertyName/index, value)或
            vm.$set(target, propertyName/index, value)
    3、如何监测数组中的数据？
        通过包裹数组更新元素的方法实现,本质就是做了两件事
           （1）调用原生对应的方法对数组进行更新
           （2）重新解析模板,进而更新页面
    特别注意,Vue.set()和vm.$set()不能给vm或vm的根数据对象添加属性！！
    
     -->
    <div id="app">
        <h1>学生信息</h1>

        <button @click="student.age++">增加年龄</button>
        <button @click="addGender">增加性别属性,默认值：男</button>
        <button @click="addFriend">在列表首位添加一个朋友</button>
        <button @click="updateFirstFriendName">修改第一个朋友的名称为：张三</button>
        <button @click="addHobby">添加一个爱好</button>
        <button @click="updateFirstHobby">修改第一个爱好为：开车</button>

        <h3>姓名:{{student.name}}</h3>
        <h3>年龄:{{student.age}}</h3>
        <h3 v-if="student.gender">性别:{{student.gender}}</h3>
        <h3>爱好:</h3>

        <ul>
            <li v-for="(hobby, index) in student.hobbies" :key="index">
                {{hobby}}
            </li>
        </ul>
        <h3>朋友们</h3>
        <ul>
            <li v-for="(friend, index) in student.friends" :key="index">
                {{friend.name}} - {{friend.age}}
            </li>
        </ul>
    </div>


    <script type="text/javascript">
        new Vue({
            el: '#app',
            data: {
                student: {
                    name: '张三',
                    age: 18,
                    hobbies: ['打篮球', '看电影', '旅游'],
                    friends: [
                        { name: '李四', age: 20 },
                        { name: '王五', age: 22 }
                    ]
                }
            },
            methods: {
                // 增加性别属性,默认值：男
                addGender() {
                    this.$set(this.student, 'gender', '男');
                },
                addFriend() {
                    // 在列表首位添加一个朋友
                    this.student.friends.unshift({ name: '新朋友', age: 25 });
                },
                updateFirstFriendName() {
                    // 修改第一个朋友的名称为：张三
                    //this.$set(this.student.friends, 0, { name: '张三', age: this.student.friends[0].age });
                    // 或者直接修改第一个朋友的名称
                    this.student.friends[0].name = '张三';
                },
                addHobby() {
                    // 添加一个爱好
                    this.student.hobbies.push('游泳');
                },
                updateFirstHobby() {
                    // 修改第一个爱好为：开车
                    this.$set(this.student.hobbies, 0, '开车');
                    // 直接修改第一个爱好,vue无法监测到更新
                    //this.student.hobbies[0] = '开车';
                }

            }
        });


    </script>
</body>

</html>